@font-face {
  font-family: 'iconfont';
  src: url('./iconfont.ttf?6chuic') format('truetype'),
    url('./iconfont.woff?6chuic') format('woff');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'iconfont' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-full:before {
  content: "\e905";
}
.icon-unfull:before {
  content: "\e906";
}
.icon-added:before {
  content: "\e904";
}
.icon-add:before {
  content: "\e903";
}
.icon-find:before {
  content: "\e902";
}
.icon-delete:before {
  content: "\e901";
}
.icon-added:before {
  content: "\e904";
}
.icon-add:before {
  content: "\e903";
}
.icon-find:before {
  content: "\e902";
}
.icon-delete:before {
  content: "\e901";
}
.icon-see:before {
  content: "\e661";
}
.icon-query:before {
  content: "\e61b";
}
.icon-next:before {
  content: "\e683";
}
.icon-filter:before {
  content: "\e60d";
}
.icon-back:before {
  content: "\f0343";
}
.icon-quote:before {
  content: "\e682";
}
.icon-home:before {
  content: "\e627";
}
.icon-me:before {
  content: "\e612";
}
.icon-history:before {
  content: "\e61c";
}
.icon-append:before {
  content: "\e900";
}
.icon-like:before {
  content: "\e605";
}
.icon-fork:before {
  content: "\e609";
}
.icon-unlike:before {
  content: "\e60a";
}
.icon-drap:before {
  content: "\e60e";
}
.icon-selected:before {
  content: "\e6b0";
}
